.reconmended{
    flex :0.8;
    background-color: antiquewhite;

}
.recommendedVideos_video{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;


}
.reconmended > h1{
    padding: 2rem 3rem;
}