.search_page{
    flex: 0.8;
    margin-left: 1rem;
}
.filter_page{
    display: flex;
    align-items: center;

}
.filter_page > h1 {
    color: rgb(66, 57, 57);
    font-size: 1.7rem;
    padding: 1rem;
}
.filter_page > hr{
   height: 0.1rem;
   margin-top: 1rem;
   margin-bottom: 1rem;
   border: 0;
   background-color: lightgray;
}