.sidebar {
   flex: 0.2; 
}
.sidebarRow {
    display: flex;
    align-items: center;
    padding: 0.6rem;
}
.sidebarIcon{
    color: gray;
    font-size: 2.5rem;
}
.sidebarTitle{
    flex:1;
    font-size: 1.2rem;
    margin-left: 2rem;   
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(94, 88, 88);
}
.sidebarRow:hover{
    background-color: lightgray;
    cursor: pointer;
}
.sidebarRow:hover > .sidebarTitle{
    font-weight: bold;
}
.sidebarRow:hover >.sidebarIcon{
    color: red;
}
.sidebarRow.selected {
    background-color: lightgray;
}
.sidebar > hr{
    height: 0.1rem;
    border:0;
    background-color:gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
}